{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
			<!--Header-->
			<p class="title is-4"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
			<p class="subtitle is-size-6 has-text-grey-light">
				{{ .Date.Format "January 2, 2006" }} 
				&middot;
				<i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read
			</p>
			<hr>
			<!--Content-->
            <div class="post-content">
				<div class="is-size-6">
                	{{ .Content }}
				</div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
