html,body {
	/*font-family: 'Courier Prime', monospace;*/
    }
.hero-body {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	}
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }
