<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="{{ "/css/styles.css" | absURL }}" />
	
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
<body>

    <!-- nav -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
			<a class="navbar-item has-text-weight-bold is-size-5" href="{{ .Site.BaseURL | relURL }}">Home</a>
			<a class="navbar-item has-text-weight-bold is-size-5" href="{{ "about" | relURL }}">About</a>
        </div>
    </nav>
    <!-- /nav -->

    <!-- hero -->
    <section class="hero is-htitle is-medium">
        <div class="hero-body" style="background-image: url({{ "img/bg-blog.jpg" | absURL }});">
            <div class="container has-text-centered">
                <br>
                <h1 class="title is-size-1 ">
                    {{ if eq .Type "tags" }}
                        #{{ .Title }}
                    {{ else if eq .Type "archives" }}
                        Archive {{ .Title }}
                    {{ else }}
						{{ .Site.Title }}
                    {{ end }}
                </h1>
                {{ if eq .Type "article" }}
                    {{ .Date.Format "January 2, 2006" }} &middot;&nbsp;{{ .ReadingTime }} min read
                {{ end }}
            </div>
        </div>
    </section>
