{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "post").ByPublishDate.Reverse }}

<div class="columns">
	<div class="column is-9">
			<div class="block">
				<div class="tile is-child box">
					<!--List of Posts-->
				   {{ range $paginator.Pages }}
					<div class="content">
							<article class="media">
								<div class="media-content">
									<p class="title is-4"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
									<p class="subtitle is-size-6 has-text-grey-light">
										{{ .Date.Format "January 2, 2006" }} &middot;
										<i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read
									<hr>
									</p>
									<div class="post-content">
										<p>{{ .Summary }}...</p>
									</div>
								</div>
							</article>
					</div>
				   {{ end }}
				</div>
			</div>
			<!--Paginator-->
			<div class="block">
				<nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
					{{ if $paginator.HasPrev }}<a class="pagination-previous" href="{{ $paginator.Prev.URL }}">Previous</a>{{ end }}
					{{ if $paginator.HasNext }}<a class="pagination-next" href="{{ $paginator.Next.URL }}">Next</a>{{ end }}
					<ul class="pagination-list">
						{{ range $paginator.Pagers }}
						<li class="pagination__item">
							<a class="pagination-link{{ if eq . $paginator }} is-current{{ end }}" aria-label="Goto page {{ .PageNumber }}" href="{{ .URL }}">{{ .PageNumber }}</a>
						</li>
						{{ end }}
					</ul>
				</nav>
			</div>
	</div>
	<!--Widgets-->
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
    <!--</div>-->
<!--</div>-->
</div>

{{ end }}
